.NavBar {
  margin-top: 0;
  background-color: transparent;
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  font-size: 25px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
}

.NavBar > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  padding-right: 90px;
}

li {
  color: whitesmoke;
  list-style-type: none;
  display: block;
  margin-right: 40px;
  padding: 0, 5px;
  margin-top: 0px;
}

li:hover {
  transform: skew(-0.03turn, 3deg);
  transform: translate(1px, 1px);
}

a {
  color: whitesmoke;
  text-decoration: none;
}
