.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  max-width: 700px;

  width: 100%;
  height: 70%;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 0 20px rgb(0 0 0 /40%);
}

.popup.off {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.popup.on {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 2s 0s, visibility 0s 2s;
  -webkit-transition: opacity 2s 0s, visibility 0s 2s;
}

.social ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.social ul li a {
  display: flex;
}

.modal .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
